@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/robotoregular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'RobotoRegular', arial;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #FFF;       
}

body::-webkit-scrollbar-thumb {
  background: #ff8818;    
  border-radius: 20px;       
  border: 3px solid orange;  
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
	.row {
		padding: 0 250px 0 250px;
	}
}

.col {
	flex: 1 1 8%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.col-span-12-home {
	height: 80vh;
	cursor: pointer;
	position: relative;
}

.col-span-12-home img {
	width: 100%;
}

.col-span-12-arrow {
	height: 10vh;
	text-align: center;
	font-size: 20px;
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
}

.start-title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.big-number {
	font-size: 75px;
	color: #ff8818;
	float: right;
}

.accordion-clients-rewiews .clients-rewiews {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 0px;
	position: relative;
	border-bottom: 1px solid #000;
}

.clients-rewiews h2 {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	float: left;
	margin-right: 45px;
}

.clients-rewiews h3 {
	font-size: 14px;
	color: #ff8818;
	font-weight: 400;
}

.clients-rewiews p {
	font-size: 15px;
	color: #000;
	width: 50%;
	padding-top: 30px;
	line-height: 23.25px;
}

@media screen and (max-width: 1000px) {
	.clients-rewiews p {
		width: 100%;
	}
}

.col h1 {
	font-size: 25px;
	font-weight: 600;
	text-align: left;
	padding: 0px 60px;
}

.col-span-6 p {
	font-size: 18px;
	text-align: left;
	line-height: 27.9px;
	padding: 40px 60px 0px;
}

.col-span-6-img {
	width: 100%;
}

.col-span-12-onelinetext {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	word-spacing: 0px;
	padding: 40px;
	display: inline-block;
	justify-content: center;
}

.row .row, .row.nested {
	flex: 1 1 auto;
	margin-top: -0.5em;
}

.row.wide-fit {
	margin-left: -10px;
	margin-right: -10px;
}

.row.center {
	justify-content: center;
}

.center .col {
	flex-grow: 0;
	flex-shrink: 0;
}

.col-span-1 {
	flex-basis: 8.3333%;
}

.col-span-2 {
	flex-basis: 16.6666%;
}

.col-span-3 {
	flex-basis: 25%;
}

.col-span-4 {
	flex-basis: 33.3333%;
}

.col-span-5 {
	flex-basis: 41.6666%;
}

.col-span-6 {
	flex-basis: 50%;
	position: relative;
}

.col-span-7 {
	flex-basis: 58.3333%;
}

.col-span-8 {
	flex-basis: 66.6666%;
}

.col-span-9 {
	flex-basis: 75%;
}

.col-span-10 {
	flex-basis: 83.3333%;
}

.col-span-11 {
	flex-basis: 91.6666%;
}

.col-span-12 {
	flex-basis: 100%;
}

.fixed-width {
	flex: 0 0 500px;
	background-color: rgba(255,0,0,0.1) !important;
}

@media screen and (max-width: 768px) {
	.col-span-1,
	.col-span-2,
	.col-span-3,
	.col-span-4,
	.col-span-5 {
		flex-basis: 50%;
	}

	.nested .col {
		flex-basis: 100%;
	}

	.raw {
		padding: 0;
	}
}

.footer {
	background-color: #171717;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
}

.footer p {
	color: #FFF;
	font-size: 18px;
	line-height: 27.9px;
	font-weight: 300;
}

.footer-menu {
	color: #FFF;
	font-size: 18px;
	line-height: 27.9px;
	font-weight: 600;
	text-align: center;
}

.footer-menu ul li {
	display: inline-block;
	padding: 50px;
}

.footer-menu a {
	color: #FFF;
}

.footer-menu-resolve {
	text-align: center;
	color: #FFF;
	font-size: 14px;
}

@media screen and (min-width: 1000px) {
	.footer {
		background: #171717;
		position: fixed;
		vertical-align: middle;
		z-index: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 30vh;
	}
}

@media screen and (max-width: 999px) {
	.footer {
		padding: 5rem 0;
		background: #171717;
		position: fixed;
		vertical-align: middle;
		z-index: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 500px;
	}

	.col-span-12-onelinetext {
		display: flex;
	}

	.balloon_main, 
	.balloon_science, 
	.balloon_manage {
		display: none;
	}

	.col-span-6,
	.col-span-7,
	.col-span-8,
	.col-span-9,
	.col-span-10,
	.col-span-11 {
		flex-basis: 100%;
	}

	.col-span-12-arrow {
		font-size: 70px;
	}

	.col-span-12-arrow img{
		display: none; 
	}

	.clients-rewiews h2 {
		font-size: 50px;
	}

	.clients-rewiews h3 {
		font-size: 30px;
	}
	.clients-rewiews p {
		font-size: 30px;
		line-height: 1.5;
	}

	.other-review-text .clients-rewiews p {
		font-size: 50px;
		line-height: 1.5;
	}
}

.section {
	position: relative;
	background: #FFF;
	z-index: 5;
	margin-bottom: 30vh;
	box-shadow: 0 0 12px rgba(0,0,0,.25);
}

.header-fixed {
	background: #FFF;
	padding: 20px 40px;
	height: 80px;
	color: #000;
	box-sizing: border-box;
	-webkit-transition: top 0.3s;
	transition: top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder {
	height: 80px;
	display: none;
}

.header-fixed .header-limiter h1 {
	float: left;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #000;
}

.header-fixed .header-limiter a {
	color: #000;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a {
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.header-fixed .header-limiter nav a:hover {
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float: none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}
}

.balloon_main {
	width: 300px;
	position: absolute;
	right: 50px;
	bottom: -20px;
}

.balloon_science {
	width: 300px;
	position: absolute;
	left: -150px;
	top: -20px;
}

.balloon_manage img {
	width: 200px;
	position: absolute;
	right: -160px;
	bottom: -20px;
}

.button::after, .button::before {
	position: absolute;
	content: "";
	transition: all 0.5s;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	color: #FF882A;
	transform: translate(0%, -50%);
	text-decoration: none;
	font-size: 1rem;
	transition: all 0.5s;
	background: #FFF;
	cursor: pointer;
	border: none;
	height: 49px;
	width: 162px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: auto; 
	margin-top: 50px;
}

.button::before {
	bottom: -5px;
	height: 5px;
	width: 220px;
	left: 5px;
	background: #FF882A;
}

.button::after {
	right: -5px;
	height: 70px;
	width: 5px;
	bottom: -5px;
	background: #FF882A;
}

.button:hover {
	background: #FF882A;
	color: #FFF;
}

.button:hover::before {
	bottom: -3px;
	height: 3px;
	width: 0px;
	background: #FFF;
}

.button:hover::after {
	right: -3px;
	width: 5px;
	height: 0;
	bottom: -3px;
	background: #FFF;
}

.accordion {
	background: #FFF;
}

.other-review {
	cursor: pointer;
	position: relative;
}

.other-review h2 {
	margin-left: 50px; 
}

.other-review .glyphicon {
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #000;
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	font-size: 50px;
}

.other-review-text {
	max-height: 0;
	overflow: hidden;
	transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.accordion li.open .other-review .glyphicon {
	transform: rotate(180deg);
}

.accordion li.open .other-review-text {
	max-height: 500px;
}